
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @Html.Partial("_top");
    <h1>Este conteúdo pertence a página principal.</h1>
    <partial name="Shared/_footer.cshtml">
</body>
</html>
