<div class="container-fluid footer p-3 text-center">
    <p>@ViewBag.CompanyName &copy; @DateTime.Now.Year</p>
    <div class="social">
        <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
        <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
    </div>
</div>