<div class="container-fluid navegation p-3 text-right">
    <a asp-controller="home" asp-action="index">Home</a> |
    <a asp-controller="service" asp-action="index">Services</a> |
    <a asp-controller="contact" asp-action="index">Contact</a>
</div>