
@{
    ViewData["Title"] = "menu";
}
<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
</head>
<body>
    <h2>MENU</h2>
    <hr />

    <a asp-action="NovoCliente">Novo Cliente</a>
</body>
</html>