
@{
    ViewData["Title"] = "NovoCliente";
}
<!DOCTYPE html>
<html>
<head>
    <title>Novo Cliente</title>
</head>
<body>
    <form asp-controller="home" asp-action="novoCliente">
        <input type="text" name="nome" value="" />
        <button>Salvar</button>
    </form>
</body>
</html>