
@{
    ViewData["Title"] = "Services";
}
    <div class="container-fluid content p-3">
        <h2>Services</h2>
        <hr />
        <div class="row">
            <div class="col-4 p-4 text-center">
                <h4>Services A</h4>
                <p>Service Description A</p>
            </div>
            <div class="col-4 p-4 text-center">
                <h4>Services B</h4>
                <p>Service Description B</p>
            </div>
            <div class="col-4 p-4 text-center">
                <h4>Services C</h4>
                <p>Service Description C</p>
            </div>
        </div>
    </div>