@model IEnumerable<MINI_PROJECT_CRYPTO_CURRENCY.Models.Currency>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-lg-6">
        @await Component.InvokeAsync("Currency")
    </div>
    <div class="col-lg-6">
        <partial name="_Graphic" />
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    function GetCurrency(data) {
        var quantity = 0;
        var currency = [];

        while (quantity < data.length) {
            currency.push(data[quantity].name);
            quantity++;
        }

        return currency;
    }

    function GetQuantity(data) {
        var quantity = 0;
        var values = [];

        while (quantity < data.length) {
            values.push(data[quantity].quantity);
            quantity++;
        }

        return values;
    }

    function GetColors(quantity) {
        var colors = [];

        while (quantity > 0) {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);

            colors.push("rgb("+ r +","+ g +","+ b +")");
            quantity--;
        }

        return colors;
    }

    $.ajax({
        type: "GET",
        url: "Currencies/GraphicData",
        success: function (data) {
            new Chart(document.getElementById("graphic"), {
                type: "pie",
                data: {
                    labels: GetCurrency(data),
                    datasets: [{
                        labels: "Quantity",
                        borderWidth: 2,
                        backgroundColor: GetColors(data.length),
                        data: GetQuantity(data)
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "Quantity in each currency"
                    }
                }
            });
        }
    });
</script>