
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Título 1</h1>
        <h2>Título 2</h2>
        <h3>Título 3</h3>
        <h4>Título 4</h4>
        <h5>Título 5</h5>

        <p class="card bg-light p-3">Temos o Bootstrap a funcionar.</p>
        <div class="text-center">
            <img src="~/images/Las_Vegas.jpg" />
        </div>
</body>
</html>