
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
    <head>
        <h2>Festa de Aniversário</h2>
    </head>
    <body>
        <hr />
        <p>O meu aniversário vai ser na próxima semana.</p>
        <p>Para confirmar sua presença, <a asp-action="formulario">CLIQUE AQUI!</a></p>
    </body>
</html>
