@model MULTIPLE_VIEWMODEL.ViewModels.ViewModelBag

<p>View Principal</p>
<hr />
<p>Nome: @Model.Human.Name</p>
<p>Apelido: @Model.Human.NickName</p>
<hr />
<p>Número da casa: @Model.Home.Number</p>
<p>Cor da casa: @Model.Home.Color</p>

<partial name="_home" />